@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --color-bg: #000;
    --color-text: #fff;
    --color-accent: #CF999E;
    --color-border: #666;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: var(--color-text);
    background: var(--color-bg);
}
