@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #000;
  --color-text: #fff;
  --color-accent: #99cfa5;
  --color-accent-light: #d1f1d8;
  --color-border: #666;

  --font-heading: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;

  --border-debug: thin solid #fff;

  --header-spacing: 1rem;
  --footer-spacing: 1rem;

  --fixed-layer: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text);
  background: #f00;
  font-family: var(--font-body);
  font-size: 16px;
  min-height: 100vh;
  padding-top: 75px;
  padding-bottom: 51px;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: var(--color-accent-light);
}

.collapse {
  cursor: pointer;
  color: var(--color-accent);
  transition: color 0.3s ease-in-out;
}

.collapse:hover,
.collapse:focus {
  color: var(--color-accent-light);
}

.main-header {
  width: 100vw;
  background-color: var(--color-bg);
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: bold;
  padding: var(--header-spacing);
  position: fixed;
  z-index: var(--fixed-layer);
  top: 0;
  left: 0;
}

.main-nav {
  list-style-type: none;
  margin-top: var(--header-spacing);
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 0;
  overflow: hidden;
}

.collapse {
  position: absolute;
  top: var(--header-spacing);
  right: var(--header-spacing);
}

.main-header .collapse .fas.fa-times {
  display: none;
}

.main-header.expanded .main-nav {
  height: auto;
}

.main-header.expanded .collapse .fas.fa-times {
  display: inline;
}

.main-header.expanded .collapse .fas.fa-bars {
  display: none;
}

main {
  background-color: #00f;
}

.main-footer {
  width: 100vw;
  background-color: var(--color-bg);
  position: fixed;
  z-index: var(--fixed-layer);
  padding: var(--footer-spacing);
  bottom: 0;
  text-align: center;
  font-style: italic;
}
