@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-bg: #000;
  --color-text: #fff;
  --color-accent: #99cfa5;
  --color-accent-light: #d1f1d8;
  --color-border: #666;
  --color-footer: #999;
  --color-category-bg: rgba(0, 0, 0, 0.3);
  --color-modal-bg: rgba(0, 0, 0, 0.7);

  --font-heading: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;

  --border-debug: thin solid #fff;

  --header-spacing: 1rem;
  --footer-spacing: 1rem;

  --header-height: 75px;
  --footer-height: 51px;

  --fixed-layer: 1;
  --popup-layer: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-body);
  font-size: 16px;
  min-height: 100vh;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: normal;
  font-style: italic;
  color: var(--color-accent);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: var(--color-accent-light);
}

button {
  background-color: transparent;
  border: none;
  color: var(--color-accent);
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

button:hover,
button:focus {
  color: var(--color-accent-light);
}

.bg-full {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.color-accent {
  color: var(--color-accent);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}

.img-responsive {
  display: block;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.main-header {
  width: 100vw;
  background-color: var(--color-bg);
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: var(--header-spacing);
  padding-right: var(--header-spacing);
  padding-top: var(--header-spacing);
  padding-bottom: var(--header-spacing);
  position: fixed;
  z-index: var(--fixed-layer);
  top: 0;
  left: 0;
}

.main-nav {
  list-style-type: none;
  margin-top: var(--header-spacing);
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 0;
  overflow: hidden;
}

.collapse {
  position: absolute;
  top: var(--header-spacing);
  right: var(--header-spacing);
}

.main-header .collapse .fas.fa-times {
  display: none;
}

.main-header.expanded .main-nav {
  height: auto;
}

.main-header.expanded .collapse .fas.fa-times {
  display: inline;
}

.main-header.expanded .collapse .fas.fa-bars {
  display: none;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  background-image: url("../images/hero-bg.jpg");
}

.hero-title {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.hero-title::before {
  content: "";
  display: block;
  background-color: var(--color-border);
  height: 1px;
  width: 110px;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero-subtitle {
  font-size: 1.5rem;
}

.img-about {
  height: 100vw;
  object-fit: cover;
}

.content {
  --spacing: 1.5rem;

  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.products-section {
  margin-top: 1.5rem;
  position: relative;
}

.products-section::before {
  content: "";
  display: block;
  background-color: var(--color-border);
  height: 1px;
  width: 110px;
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.collection {
  --spacing: 2rem;

  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.category {
  position: relative;
}

.img-category {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.category-header {
  --spacing: 1rem;

  position: absolute;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-category-bg);
}

.category-title {
  font-size: 1.25;
  font-style: italic;
  font-family: var(--font-heading);
  text-decoration: underline;
}

.contact-section {
  padding-bottom: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--font-heading);
}

.main-footer {
  width: 100vw;
  background-color: var(--color-bg);
  position: fixed;
  z-index: var(--fixed-layer);
  padding-left: var(--footer-spacing);
  padding-right: var(--footer-spacing);
  padding-top: var(--footer-spacing);
  padding-bottom: var(--footer-spacing);
  font-size: 0.8rem;
  color: var(--color-footer);
  bottom: 0;
}

.modal {
  --spacing: 1rem;

  position: fixed;
  top: 0;
  left: 0;
  max-height: 100vh;
  min-height: 100vh;
  z-index: var(--popup-layer);
  background-color: var(--color-modal-bg);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.modal-content {
  max-height: calc(100vh - 2rem);
  overflow-x: auto;
  clear: both;
}

.modal-content-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.close {
  float: right;
}
